# Python Tutorials - By Rishabh Panesar
---

<p style = 'font-size:18px'><strong>Welcome!</strong></p> 

* This notebook will teach you the basics of the Python programming language. 

* Although the information presented here is quite basic, it is an important foundation that will help you **read and write Python code.** 

* By the end of this notebook, you will know the basics of Python:

    * including how to write basic commands,
    * understand some basic types, and 
    * how to perform simple operations on them.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px; color: black">
    <ul>
        <li>
            Say "Hello" to the world in Python
            <ul>
                <li>What version of Python are we using?</li>
                <li>Writing comments in Python</li>
                <li>Errors in Python</li>
                <li>Does Python know about your error before it runs your code?</li>
                <li>=Exercise: Your First Program</li>
            </ul>
        </li>
        <li>
            Types of objects in Python
            <ul>
                <li>Integers/li>
                <li>Float</li>
                <li>Converting from one object type to a different object type</li>
                <li>Boolean data type</li>
                <li>Exercise: Types</li>
            </ul>
        </li>
        <li>
            Expressions and Variables
            <ul>
                <li>Expressions</li>
                <li>Exercise: Expressions</li>
                <li>Variables</li>
                <li>Exercise: Expression and Variables in Python</li>
            </ul>
        </li>
    </ul>
    <p>
        Estimated time needed: <strong>35 - 45 min</strong>
    </p>
</div>

<hr>

<h2> Write your first code in Python!</h2>

<code>print("Hello")
</code>
<h3> Q. How would you execute the code??</h3>

### A. `Shift` + `Enter`
### **OR**
### `Ctrl` + `Enter`

<h2 id="hello">Say "Hello" to the world in Python</h2>

In [1]:
print("Hello, Python")

Hello, Python

After executing the cell above, you should see that Python prints <code>Hello, Python!</code>. Congratulations on running your first Python code!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> is a function. You passed the string <code>'Hello, Python!'</code> as an argument to instruct Python on what to print.
</div>
<hr/>

<h3 id="version">What version of Python are we using?</h3>

There are two popular versions of the Python programming language in use today:
* Python 2
* Python 3. 

The Python community has decided to move on from Python 2 to Python 3, and many popular libraries have announced that they will no longer support Python 2.

Since Python 3 is the future, in this tutorial we will be using it exclusively. 

Q. How do we know that our notebook is executed by a Python 3 runtime? 

A. We can look in the **top-right hand corner of this notebook and see "Python 3".**

We can also ask directly Python and obtain a detailed answer. See the following code:

In [2]:
# Check the Python Version
import sys
print(sys.version)

3.8.1 (default, Jan  8 2020, 16:15:59)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [3]:
# sys.modules

In [4]:
!python -V

Python 3.8.1

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Note:] <code>sys</code> is a built-in module that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly <code>import</code> it.
</div>
<hr/>

<h3 id="comments">Writing comments in Python</h3>

In addition to writing code, note that it's always a good idea to add comments to your code. 

It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help **other people** understand your code, it can also serve as a reminder **to you** when you come back to it weeks or months later.

To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything that comes after the <code>#</code> on a given line.

In [5]:
# Practice on writing comments
print('Hello, Python') # This line prints hello

Hello, Python


<p>
    After executing the cell above, you should notice that <code>This line prints a string</code> did not appear in the output, because it was a comment (and thus ignored by Python).
</p>
<p>
    The second line was also not executed because <code>print('Hi')</code> was preceded by the number sign (<code>#</code>) as well! Since this isn't an explanatory comment from the programmer, but an actual line of code, we might say that the programmer <em>commented out</em> that second line of code.
</p>

### Documentation in Python

In [6]:
'''
This is a Docstring. You can use it to create documentation for user defined functions.

Note: 
    Multiline Comment is not supported by Python, but you can use this docstring
    as a multiline comment
'''

'\nThis is a Docstring. You can use it to create documentation for user defined functions.\n\nNote: \n    Multiline Comment is not supported by Python, but you can use this docstring\n    as a multiline comment\n'

<h3 id="errors">Errors in Python</h3>

<p>Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is important to read error messages carefully to really understand where you made a mistake and how you may go about correcting it.</p>
<p>For example, if you spell <code>print</code> as <code>frint</code>, Python will display an error message. Give it a try:</p>

In [7]:
# Print string as error message
# Uncomment the below code to see the result
# frint("Hi")

<p>The error message tells you: 
<ol>
    <li>where the error occurred (more useful in large notebook cells or scripts), and</li> 
    <li>what kind of error it was (NameError)</li> 
</ol>
<p>Here, Python attempted to run the function <code>frint</code>, but could not determine what <code>frint</code> is since it's not a built-in function and it has not been previously defined by us either.</p>

<p>
    You'll notice that if we make a different type of mistake, by forgetting to close the string, we'll obtain a different error (i.e., a <code>SyntaxError</code>). Try it below:
</p>

In [8]:
# Try to see build in error message
# Uncomment the below code to see the result
# print('Hello)

<h3 id="python_error">Does Python know about your error before it runs your code?</h3>

* Python is what is called an <em>interpreted language</em>. 

* Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. 

* In contrast, Python interprets your script line by line as it executes it. 

* Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

Try to run the code in the cell below and see what happens:

In [9]:
# Print string and error to see the running order
print('Advait')
# Uncomment the below code to see the result
# frint('Not to be executed')
print('Python')

Advait
Python

<h3 id="exercise">Exercise: Your First Program</h3>

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You can follow their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [10]:
# Write your code below and press Shift+Enter to execute 
print('Hello, world!')

Hello, world!

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [11]:
# Write your code below and press Shift+Enter to execute 
print('Hello, world!') #Printing A statement

Hello, world!

<hr>

<h2 id="types_objects" align="center">Types of objects in Python</h2>

* Python is an object-oriented language. 

* There are many different types of objects in Python. Let's start with the most common object types: 

    * <i>strings</i>, 
    
    * <i>integers</i> and 
    
    * <i>floats</i>. 
    
* Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). 

* The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

```
The above image is provided by IBM
```

<p>The following code cells contain some examples.</p>

In [12]:
# Integer

11

11

In [13]:
# Float

2.14

2.14

In [14]:
# String


"Hello, Python 101!"

'Hello, Python 101!'

## Checking the type of an expression

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [15]:
# Type of integer number

type(11)

int

In [16]:
# Type of float

type(2.14)

float

In [17]:
# Type of "String"

# type("String")
type('kuldeep')

str

In [18]:
type(True)

bool

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [19]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<h3 id="int">Integers</h3>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [20]:
# Print the type of -1

type(-1)

int

In [21]:
# Print the type of 4

type(4)

int

In [22]:
# Print the type of 0

type(0)

int

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [23]:
# Print the type of 1.0

type(-1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [24]:
# Print the type of 0.5

type(0.5)

float

In [25]:
# Print the type of 0.56

type(0.56)

float

In [26]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [27]:
# Verify that this is an integer

type(2)

int

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [28]:
# Convert 2 to a float

float(2)

2.0

In [29]:
# Convert integer 2 to a float and check its type

type(float(2))

float

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. 

However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [30]:
# Casting 1.1 to integer will result in loss of information
a = 2.59
print(a)
print(type(a))
a = int(a)
print(a)
print(type(a))

2.59
<class 'float'>
2
<class 'int'>

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [31]:
# Convert a string into an integer

a = int('45')
print(type(a))

<class 'int'>

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [32]:
# Convert a string into an integer with error
# Uncomment the below code to see the result
# int('String to Int')

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [33]:
# Convert the string "1.2" into a float

float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Converting numbers to strings</h4>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [34]:
# Convert an integer to a string

a = str(2609)
type(a)

str

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [35]:
# Convert a float to a string

str(1.2)

'1.2'

<h3 id="bool">Boolean data type</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [36]:
# Value true

True

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [37]:
# Value false

False

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [38]:
# Type of True

type(True)

bool

In [39]:
# Type of False

type(False)

bool

In [40]:
# Convert True to int

int(True)

1

In [41]:
# Convert 1 to boolean

bool(1)

True

In [42]:
bool(-155)

True

In [43]:
bool(0.7)

True

In [44]:
# Convert 0 to boolean

bool(0)

False

In [45]:
# Convert True to float

float(True)

1.0

### Expressions, Operations and Variables

* MATHEMATICAL EXPRESSIONS and Operations

    * ADDITION
    
    * SUBTRACTION
    
    * DIVISION
    
    * MULTIPLICATION

In [46]:
a = 5  # Initializing a variable named "a" with the value of 5
b = 10 # Initializing a variable named "b" with the value of 10

print(a + b) # Adding a & b
print(a - b) # Subtracting b from a
print(a * b) # Multiplying a & b
print(b / a) # Dividing b by a (Result is of the type FLOAT)
print(b // a) # Dividing b by a (Result is of the type INTEGER)

15
-5
50
2.0
2

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [47]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6/2) # float
-->

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [48]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6//2) # float
-->

### Python follows Mathematical convention while performing Math Operations.

**CONVENTION:** ***BDMAS***
<br>
<br>

***B - Bracket***

***D - DIVISION***

***M - MULTIPLICATION***

***A - Addition***

***S - Subtraction***

In [49]:
100*20/4

500.0

In [50]:
(100*8)/4*8

1600.0

In [51]:
100 * 4 + 60 - 25/5

455.0

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [52]:
# Mathematical expression

(30 + 2) * 60

1920

# Variables in python

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [53]:
# Store value into variable

a = 10 * 8 # Initializing variable with the product of 10 & 8

<p>To see the value of <code>a</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [54]:
a

80

<p>Or use <code>print()</code>command:</p>

In [55]:
print(a)

80

<p>If we save a new value to an existing variable, the new value will overwrite the previous value:</p>

In [56]:
a = 40 # Overwriting the value of the variable "a" with new value

In [57]:
print(a)

40

In [58]:
b = a * 2 # Using "a" to initialize "b"

In [59]:
print(b)

80

In [60]:
c = b + a # Using "a" and "b" to initialize "c"

In [61]:
print(c)

120

In [62]:
# We can print a beautiful combination of strings & variables using comma ","
print(a, "+", b, "=", c)

40 + 80 = 120

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [63]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [64]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [65]:
# Complex expression. Writing codes in single line

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

### Question for you guys

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [66]:
# Type your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
x = 3 + 2 * 2
print(x)
-->

## Congratulations! You have completed your first lesson and hands-on lab in Python!

<h3>About the Authors:</h3>  
<ul>
    <li>
        <p>
            <a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> is a Data Scientist at IBM, and holds a PhD in Electrical Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.
        </p>
    </li>
    <li>
        <p>
            <a href="https://www.linkedin.com/in/rishabh-panesar/" target="_blank">Rishabh Panesar</a> is a Data Science Enthusiast,and is currently pursuing BCA.
        </p>
    </li>
</ul>