<h1>Sets in Python</h1>

<!-- <p><strong>Welcome!</strong> This notebook will teach you about the sets in the Python Programming Language. By the end of this lab, you'll know the basics set operations in Python, including what it is, operations and logic operations.</p>  -->

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#set">Sets</a>
            <ul>
                <li><a href="content">Set Content</a></li>
                <li><a href="op">Set Operations</a></li>
                <li><a href="logic">Sets Logic Operations</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz on Sets</a>
        </li>
    </ul>
    <p>
        Estimated time needed: <strong>20 min</strong>
    </p>
</div>

<hr>

<h2 id="set">Sets</h2>

<!-- <h3 id="content">Set Content</h3>

A set is a unique collection of objects in Python. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items: -->

#### Syntax

```python
setName = {"String", int, float, (1,2,3), [1,2,3],{"key": value}}
```

In [3]:
# Create a set
set1 = {"pop", "rock", "indian", "kpop", "soul", "disco", "pop", "rock", "kpop", "pop", "rnb"}
set1

{'disco', 'indian', 'kpop', 'pop', 'rnb', 'rock', 'soul'}

#### Set from List

In [6]:
# Convert list to set

album_list = ["Michael Jackson", "Thriller", 1982, "Thriller", 1982, "00:23:12", "Pop, Rock, Disco"]
print(album_list)
album_set = set(album_list)
print(album_set)

['Michael Jackson', 'Thriller', 1982, 'Thriller', 1982, '00:23:12', 'Pop, Rock, Disco']
{'Michael Jackson', '00:23:12', 'Thriller', 'Pop, Rock, Disco', 1982}

Now let us create a set of  programming languages:

In [8]:
# Convert list to set
prog_lang = set(["python", "java", "s", "r", "love", "ruby", "c#", "c", "c++", "python", "java", "kotlin","c++"])
print(prog_lang)
print(type(prog_lang))

{'kotlin', 'ruby', 'python', 'c++', 'c#', 'java', 'c', 'love', 's', 'r'}
<class 'set'>

<h3 id="op">Set Operations</h3>

Let us go over set operations, as these can be used to change the set. Consider the set <b>Vehicles</b>:

```python
Vehicles = set(['Bike', 'Car', 'Bus', 'Burger'])
```

In [10]:
# Sample set 
Vehicle = set(['Bike', 'Car', 'Bus', 'Burger'])
print(Vehicle)

{'Bike', 'Burger', 'Car', 'Bus'}

 We can add an element <code>Truck</code> to a set using the <code>add()</code> method:

Vehicle.add("Element")

In [11]:
# Add element to set
Vehicle.add("Truck")
print(Vehicle)

{'Bike', 'Bus', 'Truck', 'Burger', 'Car'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [13]:
# Try to add duplicate element to the set
Vehicle.add("Truck")
print(Vehicle)

{'Bike', 'Bus', 'Truck', 'Burger', 'Car'}

 We can remove an item from a set using the <code>remove</code> method:
 
 Remove the element <code>Burger</code> from the set

```python
setName.remove(ElementName)
```

In [14]:
# Remove the element from set
Vehicle.remove("Burger")
print(Vehicle)

{'Bike', 'Bus', 'Truck', 'Car'}

 We can verify if an element is in the set using the <code>in</code> command:

In [15]:
# Verify if the element is in the set
"Burger" in Vehicle

False

In [16]:
"Truck" in Vehicle

True

<h3 id="logic">Sets Logic Operations</h3>

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

 Consider the following two sets:
 
 ```python
morning = {'g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g'}

night = {'g', 'o', 'o', 'd', ' ', 'n', 'i', 'g', 'h', 't'}
```

In [18]:
# Sample Sets
morning = {'g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g'}

night = {'g', 'o', 'o', 'd', ' ', 'n', 'i', 'g', 'h', 't'}

In [19]:
# Print two sets
print(morning)
print(night)

{' ', 'm', 'o', 'd', 'g', 'n', 'r', 'i'}
{' ', 'o', 'd', 'g', 'n', 't', 'h', 'i'}

As both sets contain <b>' ', 'd', 'g', 'n', and 'o'</b> we say that these common elements are the intersection of the two sets.

You can find the intersect of two sets as follow using <code>&</code>:

In [20]:
# Find the intersections
morning & night

{' ', 'd', 'g', 'i', 'n', 'o'}

You can also find the intersection of <code>morning</code> and <code>night</code>, using the <code>intersection</code> method:

In [21]:
# Use intersection method to find the intersection of morning and night
morning.intersection(night)

{' ', 'd', 'g', 'i', 'n', 'o'}

You can find all the elements that are only contained in <code>morning</code> set using the <code>difference</code> method:

In [22]:
# Find the difference in set1 but not set2
morning.difference(night)

{'m', 'r'}

#### Find elements which are in one set but not in the other

In [23]:
# Find the elements in "night" set, but not in "morning" set
night.difference(morning)

{'h', 't'}

#### Combine both the sets (using union method)
<!-- The <b>union</b> corresponds to all the elements in both sets -->

<!-- You have to use the union method to find the union of two sets -->

In [33]:
# Find the union of two sets
un = morning.union(night)
morning | night # another method to calculate union

{' ', 'd', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 't'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [28]:
# Check if morning set is superset of night set
A = {1,2,3,4}
B = {1,2}
morning.issuperset(night)
#Check if Union of morning and night set is a super set of the night set
print(un.issuperset(night))

True

In [30]:
# Check if morning set is subset of night set
morning.issubset(night)
# Check if morning set is subset of the union of night and morning set
morning.issubset(un)

True

You can also perform mathematical operations on your set, for example consider the set: 

```python
a = set([1, 2, 3])
```

In [34]:
a = set([1, 2, 3])

In [36]:
sum(a)

6

<hr>

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','pop','rock', 'rap', 'jazz']</code> to a set:

In [37]:
# Write your code below and press Shift+Enter to execute
a = set(['rap','pop','rock', 'rap', 'jazz'])
print(a)

{'rock', 'jazz', 'rap', 'pop'}

Double-click __here__ for the solution.
<!-- Your answer is below:
set(['rap','house','electronic music','rap'])
-->

<hr>

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) = sum(B)</code>

In [41]:
# Write your code below and press Shift+Enter to execute
# Use == to check if sum(A) and sum(B) are equal...
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
sum(A) == sum(B)

False

Double-click __here__ for the solution.

<!-- Your answer is below:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
-->

<hr>

Create a new set <code>morningAndNight</code> that is the union of <code>morning</code> set and <code>night</code> set:

In [46]:
# Write your code below and press Shift+Enter to execute
morning | night
morningAndNight = morning.union(night)

Double-click __here__ for the solution.

<!-- Your answer is below:
morningAndNight = morning.union(night)
print(morningAndNight)
-->

<hr>

Find out if <code>morning</code> set is a subset of <code>morningAndNight</code> set:

In [47]:
# Write your code below and press Shift+Enter to execute
morning.issubset(morningAndNight)

True

Double-click __here__ for the solution.

<!-- Your answer is below:
morning.issubset(morningAndNight)
-->

<hr>
<h2>Congratulations!</h2>

<hr>

<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>